.game-details {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(34, 34, 34, 0.8)), url('https://images.unsplash.com/photo-1517859657664-d2c3f575f9f5') no-repeat center center/cover;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    min-height: 300px; /* Уверете се, че има минимална височина */
    transform: scale(0);
    animation: slideIn 0.5s forwards, fadeIn 0.5s forwards;
}
:host {
    display: block; /* Уверете се, че компонентът заема пространството */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 15px; /* Закръглете ъглите */
    min-height: 300px; /* Уверете се, че има минимална височина */
}
.game-details img{
    width: 25px;
}
/* Анимация при отваряне */
@keyframes slideIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    transition: transform 0.3s;
}

.game-image:hover {
    transform: scale(1.05); /* При приближаване на изображението */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 5px 0;
}
