
h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
  }
  
 
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
 
  .game-item {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    padding: 20px;
    margin: 15px 0;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
 
  .game-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  .game-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  
  .game-item h3 {
    margin: 15px 0 10px;
    color: #007bff;
    font-size: 1.5rem;
  }
  
  
  .game-item p {
    margin: 5px 0;
    color: #555;
    line-height: 1.5;
  }
  
  
  .game-item p.price {
    font-weight: bold;
    color: #333;
  }
  
  
  .game-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  
  .game-item a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
 
  .loading-message {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
  }
  .add-to-cart-button {
    background-color: #ff4081; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    
}

.add-to-cart-button:hover {
    background-color: #ff79b0;
    transform: scale(1.05);
}

.add-to-cart-button:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.button-section .details-button{
  margin-top: 0;
}
.button-section{
  display: flex;
    justify-content: space-between;
}