<div class="register-container">
  <video #videoBackground autoplay muted loop class="video-background">
    <source class="vid-wallpaper" src="../../../assets/login.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
  <div class="register-box">
    
    <h2>Create Your GameZone Account</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required
          placeholder="Enter your username"
          [ngClass]="{'animate__animated animate__pulse': animateUsername}"
          (focus)="animateField('username')" (blur)="removeAnimation('username')" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="Enter your email"
          [ngClass]="{'animate__animated animate__pulse': animateEmail}"
          (focus)="animateField('email')" (blur)="removeAnimation('email')" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required
          placeholder="Enter your password"
          [ngClass]="{'animate__animated animate__pulse': animatePassword}"
          (focus)="animateField('password')" (blur)="removeAnimation('password')" />
      </div>
      <button type="submit" class="register-button">Register</button>
    </form>
    <p class="login-link">
      Already have an account? <a routerLink="/login">Login here</a>
    </p>
  </div>
</div>