/* Контейнерът за регистрационната форма */
.register-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.register-box {
    position: relative;
    z-index: 2;
    background: rgb(255 255 255 / 15%);;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.register-box form{
    overflow: hidden;
}
h2 {
    color: #39ff14;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
}

input {
    
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: #777;
}

.register-button {
    background-color: #39ff14;
    color: #0d0d0d;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #32e314;
}

.login-link {
    color: #ccc;
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #39ff14;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
.error-message{
    color: red;
    font-weight: bold;
    font-size: 18px;
}