/* Контейнерът за регистрационната форма */
.register-container {
    position: relative;
    /* Позволява позициониране на дъното и на формата */
    /* Задава височина на контейнера */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
    /* Тъмен фон за gaming атмосфера */
}

.video-background {
    position: absolute;
    /* Позволява видеото да се позиционира относително на родителския контейнер */
    top: 0;
    left: 0;
    width: 100%;
    /* Покрива целия контейнер */
    height: 100%;
    /* Покрива целия контейнер */
    object-fit: cover;
    /* Запазва пропорциите на видеото и покрива контейнера */
    z-index: 1;
    /* Задава z-index, така че видеото да е зад съдържанието */
}

.register-box {
    position: relative;
    /* Позволява на формата да се позиционира над видеото */
    z-index: 2;
    /* Задава z-index, за да бъде формата над видеото */
    background: rgb(255 255 255 / 15%);;
    /* Бел фон с прозрачност за видимост */
    padding: 20px;
    /* Добавя отстъп около формата */
    border-radius: 10px;
    /* Закръглени ъгли на формата */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.register-box form{
    overflow: hidden;
}
h2 {
    color: #39ff14;
    /* Неоново зелено за заглавието */
    font-family: 'Orbitron', sans-serif;
    /* Футуристичен шрифт */
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    color: #ffffff;
    /* Бял текст за лейбълите */
    display: block;
    margin-bottom: 8px;
}

input {
    
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: #777;
    /* По-светъл сив за placeholder текста */
}

.register-button {
    background-color: #39ff14;
    /* Неоново зелено за бутона */
    color: #0d0d0d;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #32e314;
    /* Леко по-тъмен зелен за hover */
}

.login-link {
    color: #ccc;
    /* Светлосив текст за линка */
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #39ff14;
    /* Линкът е неоново зелен */
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}

.login-link a:hover {
    text-decoration: underline;
}