<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row footer-wrapper">

      <div class="col-md-3">
        <h5>About Us</h5>
        <p>We offer the best games for all tastes.<br> Discover your favorite game with us!</p>
      </div>

      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/home" class="text-white">Home</a></li>
          <li><a href="/games" class="text-white">Game Catalog</a></li>
          <li><a href="/about" class="text-white">About Us</a></li>
          <li><a href="/contact" class="text-white">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3 contact">
        <h5>Contact</h5>
        <p><i class="fas fa-phone"></i> Phone: +359 888 123 456</p>
        <p><i class="fas fa-envelope"></i> Email: info@gameshop.bg</p>
        <p><i class="fas fa-map-marker-alt"></i> Address: Gamer Street 15, Sofia</p>
      </div>


      <div class="col-md-3 followUs">
        <h5>Follow Us</h5>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="text-white"><i class="fab fa-youtube fa-lg"></i></a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <p class="mb-0">&copy; {{ currentYear }} GameShop.bg. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>