<div class="cart-container">
  <h2>Your Cart</h2>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div *ngFor="let game of cartItems; let i = index" class="cart-item">
      <img [src]="game.imageUrl" alt="{{ game.title }}" />
      <p>{{ game.title }}</p>
      <p>${{ game.price }}</p>

      <div class="remove-section">
        <button class="remove-btn" (click)="removeFromCart(i)">X</button>
      </div>
    </div>
    <hr />
    <p><strong>Total Price: ${{ totalPrice.toFixed(2) }}</strong></p>
    <button class="order-btn" (click)="proceedToOrder()">Proceed to Order</button>
    <button class="clear-cart-btn" (click)="clearCart()">Clear Cart</button>
  </div>

  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>