<div class="home-container animate__animated animate__fadeIn animate__delay-0.5s">
    <header class="hero-section">
     
        <div class="overlay"></div>
        <h1>Welcome to GameZone</h1>
        <p>Where Gamers Unite</p>
        <a routerLink="/games" class="cta-button">Explore Games</a>
        <video autoplay muted loop class="video-background">
            <source class="vid-wallpaper" src="../../assets/4K_227.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- <img class="img-wallpaper" src="../../assets/portal.jpg" alt=""> -->
        <section class="featured-games">
            <h2>OUR GAMES</h2>
            <div class="game-grid">
                <div class="game-card" *ngFor="let game of games">
                    <img [src]="game.imageUrl" alt="{{ game.title }}" class="game-image" />
                    <div class="game-details">
                        <h3>{{ game.title }}</h3>
                    </div>
                    <a [routerLink]="['/games/details', game.id]" class="details-button animate__animated animate__pulse">Details</a>
                </div>
            </div>
    
        </section>
    </header>


</div>