/* Общ стил за началната страница */
.home-container {
    font-family: Arial, sans-serif;
}

/* Стил за хедъра (hero section) */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
    /* background: url('/my-gaming-app-16/') no-repeat center center/cover; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачност за подобряване на четимостта */
    z-index: 0;
}

.hero-section h1 {
    z-index: 1;
    font-size: 48px;
    color: #39ff14;
    /* Неоново зелено */
    margin-bottom: 10px;
}

.hero-section p {
    z-index: 1;
    font-size: 20px;
    color: #ccc;
}

.cta-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 1
}

.cta-button:hover {
    background-color: #0056b3;
    /* Леко по-тъмен зелен за hover */
}

/* Стил за секцията с избрани игри */
.featured-games {
    margin-top: 40px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.game-grid h2 {
    font-size: 12px;
    position: absolute;
    top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-grid {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Използваме CSS grid */
    gap: 8px 20px;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    background: #232a31a8;
    border-radius: 5px;
    
}


.game-image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    /* Разстояние между изображението и текста */
}

.game-details {
    flex-grow: 1;
    text-align: initial;
    
    /* За да заеме останалото място */
}

.details-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 12px;
}

.details-button:hover {
    background-color: #0056b3;
}

.game-card {
    background: #77889961;
    border: 1px solid #ffffff7a;
    /* Прозрачен фон на картата */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* За да не излизат елементите извън границите */
    display: flex;
    /* За разположение на изображението и текста */
    align-items: center;
    /* Вертикално центрирано подравняване */
    padding: 10px;
    height: 20px;
}

/* .hero-section .vid-wallpaper{
   position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
} */

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Прави видеото да покрива целия фон */
    transform: translate(-50%, -50%);
    /* Центриране по хоризонтала и вертикала */
    z-index: -1;
    /* Това гарантира, че видеото ще бъде на заден план */
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Прави видеото да покрива целия фон */
    transform: translate(-50%, -50%);
    /* Центриране по хоризонтала и вертикала */
    z-index: -1;
    /* Това гарантира, че видеото ще бъде на заден план */
}



/* Стил за секцията с последни новини */