<nav class="navbar">
    <div class="container">
        <a class="logo" routerLink="/">GameZone</a>
        <ul class="nav-links">
            <li><a routerLink="">Home</a></li>

            <li *ngIf="isLoggedIn" class="dropdown">
            <li class="dropdown">
                <a routerLink="#games">Games</a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/games/action">Action</a></li>
                    <li><a routerLink="/games/adventure">Adventure</a></li>
                    <li><a routerLink="/games/puzzle">Puzzle</a></li>
                    <li><a routerLink="/games/rpg">RPG</a></li>
                </ul>
            </li>

            <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/create">Create</a></li>
            <li *ngIf="isLoggedIn"><a (click)="logout()" routerLink="/login">logout</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Search games...">
            <button>Search</button>
        </div>
    </div>
</nav>