.filter-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.filter-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;

}


.price-slider {
  margin-bottom: 20px;
}


.price-slider label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;

}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


.games-list p {
  text-align: center;
  font-size: 18px;
  color: #777;
}


.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}


.games-list div {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.games-list img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;

}

.add-to-cart-button {
  width: 100%;
}

.details-button,
.add-to-cart-button {
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  overflow: hidden;
}


.details-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1387eb;
  transition: all .35s;
  z-index: 0;
}

.add-to-cart-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #33ac69;
  transition: all .35s;
  z-index: 0;
}


.details-button:hover,
.add-to-cart-button:hover {
  color: #ffffff;

}

.details-button:hover:after,
.add-to-cart-button:hover:after {
  width: 100%;
}

.details-button span {
  position: relative;
  z-index: 1;
}

.add-to-cart-button span {
  position: relative;
  z-index: 1;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}